@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
body{margin: 0;
    background: #cdd9e5;
    }

.parent {
     text-align: center;

   }

#rectangle{
   
    
    width:1550px;
    height:600px;

                    

    background:#90A6BE;
    
    box-shodow:20px 20px 30px
        rgba(0,0,0,0.2);
    border-radius:33px; 



}

h1 { 
                      position: absolute; 
                      width:115px;
                      height:38px;
                       
                      left:30px;
                      top:0px;
                      
                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:900;
                      font-size:30px;
                      line-height:42px;
                      text-align:left;
                      color:#986839;
                      
        
     }

h2 { 
                      position: absolute; 
                      width:509px;
                      height:148px;
                      
                      left:1020px;
                      top:239px;
                       
                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:500;
                      font-size:20px;
                      line-height:28px;
                      text-align:left;
                      color:white;
                      

        
     }
 
 h3 { 
                      position: absolute; 
                      width:392px;
                      height:26px;
                      
                      left:1015px;
                      top:185px;
                       
                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:bold;
                      font-size:30px;
                      line-height:28px;
                      text-align:left;
                      color:white;
                      

        
     } 


h4 { 
                      position: absolute; 
                      width:115px;
                      height:38px;
                       
                      left:400px;
                      top:0px;
                      
                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:900;
                      font-size:30px;
                      text-align:left;
                      color:#986839;
                      
        
     }

h5{ 
                      position: absolute; 
                      
                                             
                      left:1100px;
                      top:0px;

                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:900;
                      font-size:15px;
                      line-height:20px;
                      text-align:center;
                      color:#000000;
                      
        
     }


h6{ 
                      position: absolute; 
                      
                                             
                      left:740px;
                      top:0px;

                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:900;
                      font-size:15px;
                      line-height:20px;
                      text-align:center;
                      color:#000000;
                      
        
     }



h7{ 
                      position: absolute; 
                      
                                             
                      
                      top:600px;

                      font-family:Arial Black;
                      font-style:normal;
                      font-weight:900;
                      font-size:15px;
                      line-height:20px;
                      text-align:center;
                      color:#000000;
                      
        
     }




/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #90A6BE;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #325cb1;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}     

.topnav-right {
  float: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 0 4px;
}

.column img {
  
  width:15%; 
  higth: auto; 
  margin-top: 4px;
  vertical-align: middle;
}

.image-container {
  background-size: cover; 
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 10px; /* Some height */
}


  font-size: 16px; 
  padding: 20px 14px;

.text {
  background-color: white;
  color: black;
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 2px;
  width: 7%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 8%; /* Position text in the middle */
  transform: translate(-107%, -2%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}


tr:nth-child(even) {background-color: #90A6BE;}
td{width: 20%;
}
  