@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
body{margin: 0;
    background: #1e303a;
    }




.container{
	max-width:1200px;
	margin:0px auto;
	padding: 0px 15px;
	font-size:50px;
	color:white;

			
}

@media all(max-width:1200 px){
	
	.container{
	max-width:970 px;
	font-size:40px;
	background::green;

	}
	 body {
    background-color: #ebbe23;
  }
}

@media all(max-width:992 px){
	
	.container{
	max-width:750 px;
	font-size:30px;
	color:red;
		 body {
    background-color: #ebbe23;
}
}

@media all(max-width:767 px){
	
	.container{
	max-width:none;
	font-size:20px;
	color:#ebbe23;
		 body {
    background-color: #ebbe23;
	
	}
}

h1{
	
	                  position: absolute; 
                      font-family:Arial Black;
                      font-style:normal;
                      font-size:50px;
                      text-align:left;
					  color:white;
                     
}

@media(max-width:1200 px){
	
	h1{

color:green;
	}
}

@media(max-width:992 px){
	
	h1{
	color:red;
}
}

@media(max-width:767 px){
	
	h1{
	
	color:black;
	}
}




.img {
  text-align: center;
  max-width:100%
  opacity: 0.5;
}

.img:hover {
  opacity: 1.0;
}


