div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}





  button.knopka01 {
  font-family: Arial Black; 

  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;

  font-size: 15px;
  
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(206,156,69) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(127,129,141);
  user-select: none;
  } 
  button.knopka01:hover {
  color: rgb(252,252,252);
  cursor: pointer;
   }
  button.knopka01:active {
   padding-bottom: 1px;
   box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
   color: rgb(28,107,114);
  }


   h1 { 
    font-size: 200%; 
    font-family: Leelawadee UI Bold; 
    color: #00000;}
    
   h2{ 
    font-size: 200%; 
    font-family: Mistral Regular; 
    color: #000000;
   }

   h3 { 
    text-align: center;
    font-size:100%; 
    font-family: Leelawadee UI Bold; 
    color: #00000;}
 h4 { 
    text-align: left;
    font-size:100%; 
    font-family: Leelawadee UI Bold; 
    color: #00000;}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ce9c45;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}     

.topnav-right {
  float: right;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 0 4px;
}

.column img {
  
  width:15%; 
  higth: auto; 
  margin-top: 4px;
  vertical-align: middle;
}

.image-container {
  background-size: cover; 
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 10px; /* Some height */
}

.text {
  background-color: white;
  color: black;
  font-size: 2vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 2px;
  width: 7%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 8%; /* Position text in the middle */
  transform: translate(-107%, -2%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}


tr:nth-child(even) {background-color: #f2f2f2;}
td{width: 20%;}
